*{
   margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
}
.topnav{
    background-color:rgb(36, 0, 53) ;
    overflow: hidden;
}
.topnav a{
    float: left;
    color: #4ecfff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:"Oswald", sans-serif;
}
.topnav a:hover {
    background-color: #ff4ecb;
    color: blue;
}
.topnav .active:hover{
    background-color: #4ecfff ;
    color:blue;
}
.topnav a.active {
    background-image:url(images/67278.jpg) ; 
    background-size: 70%;
    color: #ff4ecb;
    font-family:"Oswald", sans-serif;   
}
strong{
    font-size:1.1rem ;
    font-weight: bolder;
}
.home{
    font-size:0.9rem ;
    
}
.wrapper {
    position: relative;
    min-height: 100%;
    background-image:url(images/525eb7eeeae9e7eef5c6b3d17338f4de.jpg);
    background-size:cover;
    background-position:top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}
.wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
html {
    scroll-behavior: smooth;
}
main {
    flex: 1;
    position: relative;
    z-index: 1;
    padding: 0;

}
.container{
    text-align: center;
    background-image: url(images/il_fullxfull.5321081475_apn6.webp);
    padding: 4rem 2rem;
    border-bottom: 4px solid #ff4ecb;
    border-top: 4px solid #4ecfff;
    box-shadow:
    0 0 15px rgb(0, 162, 255),
    0 0 15px rgb(255, 0, 255); 
}
.titlebox{
    display: flex;
    justify-content: center;
}
.titleimg{
    height: 12rem;
    width: 12rem;
}
.container h1{
    font-size: 6rem;
    color: #ff4ecb;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px #000;
}
.container h1 span{
    color: #4ecfff;
}
.container p {
    font-size: 2rem;
    color: #ff4ecb;
    max-width: 1600px;
    margin: 0 auto;
    text-shadow: 1px 1px 2px #000;
}
#span1 {
    color: #4ecfff;
}
.bolder{
    font-size: 2.5rem;
}
.subcontainer{
    animation: slideFromTop 1s ease forwards ;
    opacity: 0;
}
@keyframes slideFromTop{

    0%{
        opacity: 0;
        transform: translateY(-100%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.e {
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    color: #4ecfff;
}
.e:hover {
     transform: scale(1.2);
     color: blue;
}
#title-text{
    padding: 30px;
}
ul {
    list-style: none;
    padding: 0;
}
.bold{
    font-size: large;
}
.rocket{
    position: relative;
    display: inline-block;
    animation-name: movement;
    margin-top: 50px;
    margin-bottom: 50px;
    animation-duration:8s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    transition: transform 0.3s ease;
}
@keyframes movement {
   from {
     left:5%;
   } 
   to { 
    left:90%;
   }
}
.f { 
    transition: transform 0.3s ease;
    display: block;;
    cursor: pointer;
    width: 150px;
    height: 200px;
}
.laser{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    width: 5px;
    height: 100px;
    background: linear-gradient(to top, rgb(255, 0, 0), transparent);
    transform-origin: top;
    opacity: 0;
    pointer-events: none;
    
}
.f:hover{
    transform: scale(1.2);
}
.rocket:hover .laser{
    animation: shoot 1s linear infinite ;
    opacity: 1;
    
}
@keyframes shoot {
    0%{
       transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-50%) translateY(-700px);
        opacity: 0;
    }
}
p{
    font-family:"Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size:20px ;
    color: #00ffff;
}  
.boxpara{
    color: #ff4ecb;
    font-family:"Oswald", sans-serif;
}
.logo{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 100px;
   font-family:"Oswald", sans-serif;
   
   }
   .logo img{
    transition: all 0.3s linear 0s ;
    border-radius: 20px;
   }
   .logo img:hover {
    transform: scale(1.2);
   }
h1{
    font-family:"Oswald", sans-serif;
    font-size: 60px;
    color: #ff4ecb;
    padding: 30px;
}
h2{
    color: #39ff14;
    font-family:"Oswald", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
h3{
    color: #39ff14;
    padding: 30px;
}
.container1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.bg{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/pixel-stars-set-night-sky-background_107791-34629.jpg);
    box-shadow:0 0 10px rgb(38, 0, 255) ;
    width:100%;
    height:200px ;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    animation: slideFromLeft 1s ease forwards ;
    opacity: 0;
}
@keyframes slideFromLeft{

    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.icon1{
    height:100px ;
    width: 100px;
}
#imge{
    border-radius: 10px;
}
.yt1{
    border-radius: 30px;
}
.head{
    text-align: center;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup {
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 20px;
    margin-top: 10px;
    color: red;
}
.popup .show {
    opacity: 1;
}
.video-grid{
    display:grid;
    gap:50px;
    grid-template-columns: repeat(auto-fit, minmaax(300px, 1fr));
    justify-items: center;
    padding: 50px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 70px;
    justify-content: center;
    align-content: center;
    padding: 70px;
}

.yt{
    width: 390px;
    border-radius: 30px;
    height: 700px;
}
body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.desc{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

.fieldset{
    border-color: #39ff14;
    box-shadow: 
    0 0 15px #39ff14;
}
.neon{
    color: #39ff14;
}

.legend{
    font-size: 100px;
    font-family:"Oswald", sans-serif;
    color: #ff4ecb;
    text-shadow: 0 0 5px #ff00ff, 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff;
    animation: slideFromLeft 1s ease forwards ;
    opacity: 0;
}
.oo{
    border:2px solid #39ff14;
    box-shadow:0 0 10px #39ff14;
    border-radius: 33px;
    display: inline-block;
    transition: all 0.3s linear; 
}
.oo:hover{
    animation: neon-glow 6s linear infinite alternate;
   
}
@keyframes neon-glow {
    0% {
        box-shadow:0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 15px #39ff14;
       border-color: #39ff14;
    }
     25% {
    box-shadow: 0 0 10px #39ff14, 0 0 15px #39ff14,0 0 20px #39ff14;
    }
    50% {
    box-shadow: 0 0 15px #39ff14, 0 0 20px #39ff14,0 0 25px #39ff14;
    }
     75% {
    box-shadow: 0 0 20px #39ff14, 0 0 25px #39ff14,0 0 30px #39ff14;
    }
    100% {
        box-shadow:0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 15px #39ff14;
        border-color: #39ff14;
    }
}
.footer{
    color: #4ecfff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family:"Oswald", sans-serif;
    text-align: center;
    height: 70px;
    background-color:rgb(36, 0, 53) ;
}
@media screen and ( max-width:1000px) {   
    .grid{
       grid-template-columns: repeat(1,auto);
       justify-content: center;
       align-items: center;
    }
} 
@media screen and (max-width: 700px) {

  .topnav a {
    font-size: 15px;
    display: block;
    padding: 12px;
  }

  .container h1 {
    font-size: 2.5rem;
  }

  .container p,
  .bolder {
    font-size: 1.2rem;
  }

  .titleimg {
    height: 6rem;
    width: 6rem;
  }

  .logo {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .grid,
  .video-grid {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 30px;
  }

  .desc {
    padding: 20px;
    font-size: 1rem;
  }

  
  .yt1 {
    width: 100%;
    height: 300px;
  }
   .yt,
  iframe {
    width: 350px;
    height: 550px;
    border-radius: 20px;
  }

  .fieldset {
    padding: 10px;
    margin-top: 20px;
    
  }

  h1, h2, h3 {
    font-size: 1.5rem;
    padding: 20px 10px;
  }

  .legend {
    font-size: 2rem;
    text-align: center;
  }

  .rocket {
    position: relative;
    animation-name: movement-mobile;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 50px auto;
    transform:translateX(-50%);
  }
  @keyframes movement-mobile {
    from {
      left: 20%;
    }
    to {
      left: 80%;
    }
  }
    .f {
    width: 120px;
    height: 160px;
    display: block;
    margin: 0 auto;
  }

  .laser {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100px;
    background: linear-gradient(to top, red, transparent);
  }

  .icon1 {
    height: 50px;
    width: 50px;
  }

  .bg {
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .oo {
    width: 350px;
    margin: 20px 0;
    text-align: center;
    border-radius: 23px;
    box-shadow: 0 0 10px #39ff14,
    0 0 10px #39ff14;
    border: 2px solid #39ff14;
  }
   .cell{
    text-align: center;
   }
  .footer {
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }

}
@media screen and (max-width: 400px) {
  .topnav {
    background-color: rgb(36, 0, 53);
    }
  .topnav a {
    font-size: 9px;
    text-align: center;
    text-decoration: none;
    flex: 1;
    color: #4ecfff;
    font-family: "Oswald", sans-serif;
  }
   .topnav a.active {
    background-image: url(images/67278.jpg);
    background-size: 60%;
    color: #ff4ecb;
    height: 38px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .topnav a:hover {
    background-color: #ff4ecb;
    color: blue;
  }
  .container h1 {
    font-size: 1.8rem;
    width: 500px;
  }

  .container p,
  .bolder {
    font-size: 0.6rem;
  }

  .titleimg {
    height: 4rem;
    width: 4rem;
    align-self:right;
  }
  .wrapper {
    position: relative;
    min-height: 100%;
    background-image:url(images/525eb7eeeae9e7eef5c6b3d17338f4de.jpg);
    background-size:cover;
    background-position:top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}
.wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
   .yt{
    width: 250px;
    height: 350px;
   }
   .yt1{
    align-items: center;
    height: 200px;
    width: 300px;
   }
   iframe {
    width: 100%;
    height: 500px;
    border-radius: 20px;
  }

  .oo {
    width: 250px;
    margin: 10px 0;
    border-radius: 21px;
    box-shadow: 0 0 10px #39ff14,
                0 0 10px #39ff14;
    border: 2px solid #39ff14;
  }

  .legend {
    font-size: 1.5rem;
    text-align: center;
  }

  h1, h2, h3 {
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
  }

  .rocket {
    position: relative;
    animation-name: movement-mobile-small;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 50px auto;
    transform: translateX(-50%);
  }

  @keyframes movement-mobile-small {
    from {
      left: 10%;
    }
    to {
      left: 90%;
    }
  }

  .f {
    width: 100px;
    height: 130px;
  }

  .laser {
    height: 80px;
  }

  .grid {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 20px;
  }

  .desc {
    font-size: 0.9rem;
    padding: 10px;
    text-align: center;
  }

  .footer {
    font-size: 12px;
    padding: 10px;
    text-align: center;
  }

  .icon1 {
    height: 40px;
    width: 40px;
  }

  .bg {
    gap: 5px;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }
  .logo {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
.video-grid {
  display: grid;
  gap: 20px;
  grid-template-columns:1fr;
  padding: 10px;
}
}



